{%extends 'base.html'%}

{%block content%}
 <!-- Main Page -->
 <div class="page-wrapper">
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Add Bank Accounts
                    </h2>
                </div>

            </div>
        </div>
    </div>

    <!-- Page Body -->
    <div class="page-body">
        <div class="container-2xl mx-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">New Bank Account</h3>
                    </div>
                    <div class="card-body bg-muted-lt">

                        <div class="row row-cols-xl-3 flex-row">
                          

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Account Name</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Account</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Account Type</label>
                                <div class="col">
                                    <select class="form-select">
                                        <option>select account type</option>
                                        <option>Current</option>
                                        <option>Saving</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">COA Ac.</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div> -->
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Bank Name</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Branch Name</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Branch Tel</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            
                           
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Branch Address</label>
                                <div class="col">
                                    <textarea class="form-control" data-bs-toggle="autosize"
                                        placeholder=""></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex">
                            <button class="btn btn-primary ms-auto px-5">Submit</button>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>
{%endblock%}

