{% extends 'base.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Add Payment Vouchers
                    </h2>
                </div>

            </div>
        </div>
    </div>

    <!-- Page Body -->
    <div class="page-body">
        <div class="container-2xl mx-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">New Payment Voucher</h3>
                    </div>
                    <div class="card-body bg-muted-lt">

                        <h2>Basic Information</h2>
                        <div class="row row-cols-xl-3 flex-row">

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Voucher Date</label>
                                <div class="col">
                                    <input type="date" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Voucher Type</label>
                                <div class="col">
                                    <select class="form-select">
                                        <option>select Voucher Type</option>
                                        <option>Vendor</option>
                                        <option>Expense Voucher</option>
                                        <option>Estate Agent</option>
                                        <option>Property Cancellation</option>
                                        <option>Property Buy Back</option>
                                        <option>Salaries</option>
                                        <option>Employee</option>
                                        <option>COA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Voucher Type
                                    Name</label>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <button data-bs-toggle="dropdown" type="button"
                                            class="btn dropdown-toggle dropdown-toggle-split"></button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">
                                                List of vouchers (Yahan ayngy)
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Vendor Balance</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>

                            <!-- Ye Expence Voucher k liye hide / show karne k liye -->
                            <div class="">
                                <div class="form-group mb-2 row">
                                    <label class="form-label col-5 col-form-label">Expence Voucher
                                        Amount</label>
                                    <div class="col">
                                        <input type="" class="form-control" aria-describedby="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group mb-2 row">
                                    <label class="form-label col-5 col-form-label required">Expence Voucher Pre.
                                        Paid Amount</label>
                                    <div class="col">
                                        <input type="" class="form-control" aria-describedby="" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2>Transaction Details</h2>
                        <!-- ye salaries ka div ha hide / show k liye -->
                        <div class="card-body">
                            <h3>Salaries</h3>
                            <div class="card">
                                <div class="table-responsive">
                                    <table class=" table table-vcenter table-mobile-md card-table">
                                        <thead>
                                            <tr class="">
                                                <th><input class="form-check-input m-0 align-middle"
                                                        type="checkbox" aria-label="Select invoice"></th>
                                                <th><button class="table-sort" data-sort="sort-name">Salary
                                                        Slip</button></th>
                                                <th><button class="table-sort"
                                                        data-sort="sort-name">Department</button></th>
                                                <th><button class="table-sort"
                                                        data-sort="sort-name">Month</button>
                                                </th>
                                                <th><button class="table-sort" data-sort="sort-name">Fiscal
                                                        Year</button></th>
                                                <th><button class="table-sort" data-sort="sort-name">Employee
                                                        Name</button></th>
                                                <th><button class="table-sort"
                                                        data-sort="sort-name">NIC</button>
                                                </th>
                                                <th><button class="table-sort" data-sort="sort-name">Gross
                                                        Pay</button></th>
                                                <th><button class="table-sort"
                                                        data-sort="sort-name">Earnings</button></th>
                                                <th><button class="table-sort"
                                                        data-sort="sort-name">Deductions</button></th>
                                                <th><button class="table-sort" data-sort="sort-name">Net
                                                        Pay</button></th>
                                            </tr>
                                        </thead>

                                        <tbody class="fs-3">
                                            <tr>
                                                <td>
                                                    <input class="form-check-input align-middle"
                                                        type="checkbox">
                                                </td>
                                                <td>SLR-001</td>
                                                <td>Accounts</td>
                                                <td>8</td>
                                                <td>3033</td>
                                                <td>sami</td>
                                                <td>00000-0000000-0</td>
                                                <td>10000</td>
                                                <td>22002</td>
                                                <td>23</td>
                                                <td>23003</td>
                                            </tr>



                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row row-cols-xl-3 flex-row mt-3">

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Voucher Amount</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Deduction Amount</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Taxable</label>
                                <div class="col">
                                    <select class="form-select">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Tax</label>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <button data-bs-toggle="dropdown" type="button"
                                            class="btn dropdown-toggle dropdown-toggle-split"></button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">
                                                List of Tax
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label ">Tax Amount</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Transaction Amount</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Transaction Mode</label>
                                <div class="col">
                                    <select class="form-select">
                                        <option>Select Transaction Mode</option>
                                        <option>CASH IN HAND</option>
                                        <option>PETTY CASH</option>
                                        <option>CHEQUE / DD</option>
                                        <option>CANCELLATION ADJUSTMENT CASH</option>
                                        <option>ONLINE</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Cash in hand balance -->
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Cash In Hand Balance</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                        </div>

                        <!-- Cheque show / hide  -->
                        <div class="row row-cols-xl-3 flex-row mt-3">
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Bank</label>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <button data-bs-toggle="dropdown" type="button"
                                            class="btn dropdown-toggle dropdown-toggle-split"></button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">
                                                List of Bank
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Bank Balance</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Instrument</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Bank Charges</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Bank Charges Description</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="row row-cols-xl-3 flex-row mt-3">
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Asset Procurement</label>
                                <div class="col">
                                    <select class="form-select">
                                        <option>No</option>
                                        <option>Yes</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Asset</label>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <button data-bs-toggle="dropdown" type="button"
                                            class="btn dropdown-toggle dropdown-toggle-split"></button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">
                                                List of Tax
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-3 col-form-label">Remarks</label>
                                <div class="col">
                                    <textarea class="form-control" data-bs-toggle="autosize"
                                        placeholder=""></textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">
                        <div class="row align-items-center g-2">
                            <div class="d-flex">
                                <button class="btn btn-primary ms-auto px-5">Submit</button>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-cyan ms-auto px-5">POST</button>
                            </div>
                        </div>
                      </div>

                </div>
            </div>

        </div>
    </div>


</div>

{% endblock %}