{%extends 'base.html'%}
{%block content%}

<!-- Main Page -->
<div class="page-wrapper">
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Chart of Accounts
                    </h2>
                </div>

            </div>
        </div>
    </div>

    <!-- Page Body -->
    <div class="page-body">
        <div class="container-2xl mx-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">Chart of Accounts</h3>
                    </div>
                    <div class="card-body bg-muted-lt">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class=" table table-vcenter table-mobile-md card-table">
                                        <thead>
                                            <tr>
                                                <th>Account Name</th>
                                                <th>Account No.</th>
                                                <th>Type</th>
                                                <th>Level</th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>

                                <div class="accordion" id="accordion-example">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading-1">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse-1"
                                                aria-expanded="false">
                                                ACCOUNTS
                                            </button>
                                        </h2>

                                        <!-- Assets -->
                                        <div id="collapse-1" class="accordion-collapse ms-4 collapse"
                                            data-bs-parent="#accordion-example" style="">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading-2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapse-2"
                                                        aria-expanded="false">
                                                        ASSETS
                                                    </button>
                                                </h2>
                                                <div id="collapse-2" class="accordion-collapse collapse"
                                                    data-bs-parent="#accordion-example" style="">
                                                    <div class="accordion-body pt-0">
                                                        <strong>This is the second item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element. These
                                                        classes control the overall appearance, as well as the showing
                                                        and hiding via CSS transitions. You can modify any of this with
                                                        custom CSS or overriding our default variables. It's also worth
                                                        noting that just about any HTML can go within the
                                                        <code>.accordion-body</code>, though the transition does limit
                                                        overflow.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Liabilities -->
                                        <div id="collapse-1" class="accordion-collapse ms-4 collapse"
                                            data-bs-parent="#accordion-example" style="">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading-2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapse-2"
                                                        aria-expanded="false">
                                                        LIABILITIES
                                                    </button>
                                                </h2>
                                                <div id="collapse-2" class="accordion-collapse collapse"
                                                    data-bs-parent="#accordion-example" style="">
                                                    <div class="accordion-body pt-0">
                                                        <strong>This is the second item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element. These
                                                        classes control the overall appearance, as well as the showing
                                                        and hiding via CSS transitions. You can modify any of this with
                                                        custom CSS or overriding our default variables. It's also worth
                                                        noting that just about any HTML can go within the
                                                        <code>.accordion-body</code>, though the transition does limit
                                                        overflow.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Equity -->
                                        <div id="collapse-1" class="accordion-collapse ms-4 collapse"
                                            data-bs-parent="#accordion-example" style="">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading-2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapse-2"
                                                        aria-expanded="false">
                                                        EQUITY
                                                    </button>
                                                </h2>
                                                <div id="collapse-2" class="accordion-collapse collapse"
                                                    data-bs-parent="#accordion-example" style="">
                                                    <div class="accordion-body pt-0">
                                                        <strong>This is the second item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element. These
                                                        classes control the overall appearance, as well as the showing
                                                        and hiding via CSS transitions. You can modify any of this with
                                                        custom CSS or overriding our default variables. It's also worth
                                                        noting that just about any HTML can go within the
                                                        <code>.accordion-body</code>, though the transition does limit
                                                        overflow.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Revenue -->
                                        <div id="collapse-1" class="accordion-collapse ms-4 collapse"
                                            data-bs-parent="#accordion-example" style="">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading-2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapse-2"
                                                        aria-expanded="false">
                                                        REVENUE
                                                    </button>
                                                </h2>
                                                <div id="collapse-2" class="accordion-collapse collapse"
                                                    data-bs-parent="#accordion-example" style="">
                                                    <div class="accordion-body pt-0">
                                                        <strong>This is the second item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element. These
                                                        classes control the overall appearance, as well as the showing
                                                        and hiding via CSS transitions. You can modify any of this with
                                                        custom CSS or overriding our default variables. It's also worth
                                                        noting that just about any HTML can go within the
                                                        <code>.accordion-body</code>, though the transition does limit
                                                        overflow.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- cost of goods sold -->
                                        <div id="collapse-1" class="accordion-collapse ms-4 collapse"
                                            data-bs-parent="#accordion-example" style="">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading-2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapse-2"
                                                        aria-expanded="false">
                                                        COST OF GOODS SOLD
                                                    </button>
                                                </h2>
                                                <div id="collapse-2" class="accordion-collapse collapse"
                                                    data-bs-parent="#accordion-example" style="">
                                                    <div class="accordion-body pt-0">
                                                        <strong>This is the second item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element. These
                                                        classes control the overall appearance, as well as the showing
                                                        and hiding via CSS transitions. You can modify any of this with
                                                        custom CSS or overriding our default variables. It's also worth
                                                        noting that just about any HTML can go within the
                                                        <code>.accordion-body</code>, though the transition does limit
                                                        overflow.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- expense -->
                                        <div id="collapse-1" class="accordion-collapse ms-4 collapse"
                                            data-bs-parent="#accordion-example" style="">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading-2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapse-2"
                                                        aria-expanded="false">
                                                        EXPENSE
                                                    </button>
                                                </h2>
                                                <div id="collapse-2" class="accordion-collapse collapse"
                                                    data-bs-parent="#accordion-example" style="">
                                                    <div class="accordion-body pt-0">
                                                        <strong>This is the second item's accordion body.</strong> It is
                                                        hidden by default, until the collapse plugin adds the
                                                        appropriate classes that we use to style each element. These
                                                        classes control the overall appearance, as well as the showing
                                                        and hiding via CSS transitions. You can modify any of this with
                                                        custom CSS or overriding our default variables. It's also worth
                                                        noting that just about any HTML can go within the
                                                        <code>.accordion-body</code>, though the transition does limit
                                                        overflow.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

{% endblock %}