{% extends 'base.html' %}

{% block content %}

<div class="page-wrapper">
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        New Estate Agent
                    </h2>
                </div>

            </div>
        </div>
    </div>

    <!-- Page Body -->
    <div class="page-body">
        <div class="container-2xl mx-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Estate Agent Basic Information</h3>
                    </div>
                    <div class="card-body bg-muted-lt">

                        <div class="row row-cols-xl-3 flex-row">


                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Agent Name</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Contact</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Email</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Contact Person</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Contact Person Tel</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Commission Rate</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Remarks</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-3 col-form-label required">Address</label>
                                <div class="col">
                                    <textarea class="form-control" data-bs-toggle="autosize"
                                        placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                        <h2>Login Details</h2>
                        <div class="row row-cols-xl-3 flex-row">

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Username</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Password</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            <!-- <div class="mb-2">
                                <div class="form-label">Access Type</div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">Inventory Access	
                                        </label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">Inventory and Reservation Access</label>
                                      </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex">
                            <button class="btn btn-primary ms-auto px-5">Submit</button>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>

{% endblock %}