{%extends "base.html"%}
{%block content%}
<!-- Main Page -->
<div class="page-wrapper">
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Add Property Merger
                    </h2>
                </div>

            </div>
        </div>
    </div>

    <!-- Page Body -->
    <div class="page-body">
        <div class="container-2xl mx-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">New Property Merger</h3>
                    </div>
                    <div class="card-body bg-muted-lt">

                        <h2>Basic Information</h2>
                        <div class="row row-cols-xl-3 flex-row">

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Voucher Date</label>
                                <div class="col">
                                    <input type="date" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Property to be Consolidated</label>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <button data-bs-toggle="dropdown" type="button"
                                            class="btn dropdown-toggle dropdown-toggle-split"></button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">
                                                List of Property Consolidated
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--  -->
                        <div class="row align-items-center g-2">
                            <div class="d-flex">
                                <button class="btn btn-info w-6 ms-auto">Display Property Statement</button>
                            </div>
                        </div>

                        

                        <!-- Property installment -->
                        <div class="card-body mt-2">
                            <div class="card-header bg-white py-1">
                                <h2 class="modal-title">Property Installments</h2>
                                <div class="card-actions btn-actions">
                                  <a href="#" class="btn-action"><!-- Download SVG icon from http://tabler-icons.io/i/x -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                  </a>
                                </div>
                              </div>
                            <div class="card">
                                <div class="table-responsive">
                                    <table class=" table table-vcenter table-mobile-md card-table">
                                        <thead>
                                            <tr>
                                                <th>Account Head</th>
                                                <th>Due Date</th>
                                                <th>Due Amount</th>
                                                <th>Received Amount</th>
                                                <th>Surcharge Amount</th>
                                                <th>Surcharge Received / Waived Amount</th>
                                                <th>Balance</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>

                                        <tbody class="fs-3">
                                            <tr>
                                                <td>10001020</td>
                                                <td>SLR-001</td>
                                                <td>Accounts</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="strong fs-2">Total</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <h2 class="mt-2">Consolidated Property Details</h2>
                        <!-- list -->
                        <div class="card-body">
                            <div class="card">
                                <div class="table-responsive">
                                    <table class=" table table-vcenter table-mobile-md card-table">
                                        <thead>
                                            <tr>
                                                <th>Current Owner</th>
                                                <th>CNIC#</th>
                                                <th>Sale Price</th>
                                                <th>Additional Charges</th>
                                                <th>Installment / A Chgs Received</th>
                                                <th>Surcharge</th>
                                                <th>Surcharge Waived / Received</th>
                                                <th>Balance</th>
                                            </tr>
                                        </thead>

                                        <tbody class="fs-3">
                                            <tr>
                                                <td>10001020</td>
                                                <td>SLR-001</td>
                                                <td>Accounts</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <h2 class="mt-2">Merged Property Details</h2>
                        <div class="row row-cols-xl-3 mt-3 flex-row">
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Property to be Merged</label>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <button data-bs-toggle="dropdown" type="button"
                                            class="btn dropdown-toggle dropdown-toggle-split"></button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">
                                                List of Property Consolidated
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--  -->
                        <div class="row align-items-center g-2">
                            <div class="d-flex">
                                <button class="btn btn-info w-6 ms-auto">Display Merged Property Statement</button>
                            </div>
                        </div>

                        <!-- -->
                        <div class="card-body mt-2">
                            <div class="card-header bg-white py-1">
                                <h2 class="modal-title">Property Installments</h2>
                                <div class="card-actions btn-actions">
                                  <a href="#" class="btn-action"><!-- Download SVG icon from http://tabler-icons.io/i/x -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                  </a>
                                </div>
                              </div>
                            <div class="card">
                                <div class="table-responsive">
                                    <table class=" table table-vcenter table-mobile-md card-table">
                                        <thead>
                                            <tr>
                                                <th>Account Head</th>
                                                <th>Due Date</th>
                                                <th>Due Amount</th>
                                                <th>Received Amount</th>
                                                <th>Surcharge Amount</th>
                                                <th>Surcharge Received / Waived Amount</th>
                                                <th>Balance</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>

                                        <tbody class="fs-3">
                                            <tr>
                                                <td>10001020</td>
                                                <td>SLR-001</td>
                                                <td>Accounts</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="strong fs-2">Total</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- -->
                        <div class="row align-items-center g-2">
                            <div class="d-flex">
                                <button class="btn btn-info w-6 mx-4">Add To List</button>
                            </div>
                        </div>

                        <!-- -->
                        <div class="card-body">
                            <div class="card">
                                <div class="table-responsive">
                                    <table class=" table table-vcenter table-mobile-md card-table">
                                        <thead>
                                            <tr>
                                                <th>Unit#</th>
                                                <th>PS#</th>
                                                <th>Current Owner</th>
                                                <th>CNIC#</th>
                                                <th>Sale Price</th>
                                                <th>Additional Charges</th>
                                                <th>Installment / AChgs Received</th>
                                                <th>Surcharge</th>
                                                <th>Surcharge Waived / Received</th>
                                                <th>Balance</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>

                                        <tbody class="fs-3">
                                            <tr>
                                                <td>10001020</td>
                                                <td>SLR-001</td>
                                                <td>Accounts</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td>aidh</td>
                                                <td><a href="#" class="btn btn-sm btn-outline-danger">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        class="icon icon-tabler icon-tabler-trash"
                                                        width="24" height="24" viewBox="0 0 24 24"
                                                        stroke-width="2" stroke="currentColor" fill="none"
                                                        stroke-linecap="round" stroke-linejoin="round">

                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none">
                                                        </path>
                                                        <line x1="4" y1="7" x2="20" y2="7"></line>
                                                        <line x1="10" y1="11" x2="10" y2="17"></line>
                                                        <line x1="14" y1="11" x2="14" y2="17"></line>
                                                        <path
                                                            d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12">
                                                        </path>
                                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3">
                                                        </path>
                                                    </svg>
                                                    Remove
                                                </a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div  class="row row-cols-xl-3 mt-3 flex-row">

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label ">Amount to be Merged</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-4 col-form-label">Remarks</label>
                                <div class="col">
                                    <textarea class="form-control" data-bs-toggle="autosize"
                                        placeholder=""></textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Footer post and submit button -->
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-xl-6">
                                <button class="btn btn-cyan ms-auto w-8">POST</button>
                            </div>

                            <div class="col-xl-6">
                                <button class="btn btn-primary ms-auto w-8">Submit</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>
{%endblock%}