<li class="nav-item dropdown {% if url_name in pages.all_purchases_pages %} active {%endif%}">
    <a class="nav-link dropdown-toggle" href="#purchases" data-bs-toggle="dropdown"
        data-bs-auto-close="outside" role="button" aria-expanded="false">
        <span class="nav-link-icon d-md-none d-lg-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">

                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="6" cy="19" r="2"></circle>
                <circle cx="17" cy="19" r="2"></circle>
                <path d="M17 17h-11v-14h-2"></path>
                <path d="M6 5l6.005 .429m7.138 6.573l-.143 .998h-13"></path>
                <path d="M15 6h6m-3 -3v6"></path>
            </svg>
        </span>
        <span class="nav-link-title">
            Purchases
        </span>
    </a>
    <div class="dropdown-menu">
        <div class="dropdown-menu-columns">
            <div class="dropdown-menu-column">

                <!-- Purchase Orders -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle 
                        {% if url_name in pages.purchaseorder %} active {%endif%}" 
                        href="#purchase-orders"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Purchase Orders
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'Purchases:manage_purchase_orders' %}" class="dropdown-item">
                            Manage Purchase Orders
                        </a>
                        <a href="{% url 'Purchases:add_purchase_order' %}" class="dropdown-item">
                            Add Purchase Orders
                        </a>
                    </div>
                </div>

                <!-- PO Cancellations -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle 
                        {% if url_name in pages.purchaseordercancel %} active {%endif%}" 
                        href="#purchase-order-cancellations"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Purchase Order Cancellations
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'Purchases:manage_purchase_order_cancel' %}" class="dropdown-item">
                            Manage Purchase Order Cancellations
                        </a>
                        <a href="{% url 'Purchases:add_purchase_order_cancel' %}" class="dropdown-item">
                            Add Purchase Order Cancellations
                        </a>
                    </div>
                </div>

                <!-- Stock Vouchers -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle 
                        {% if url_name in pages.stockreceivingvoucher %} active {%endif%}" 
                        href="#stock-vouchers"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Stock Vouchers
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'Purchases:manage_stock_voucher' %}" class="dropdown-item">
                            Manage Stock Vouchers
                        </a>
                        <a href="{% url 'Purchases:add_stock_receiving_voucher' %}" class="dropdown-item">
                            Add Stock Vouchers
                        </a>
                    </div>
                </div>

                <!-- Purchase Returns -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle 
                        {% if url_name in pages.purchasereturn %} active {%endif%}" 
                        href="#purchase-returns"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Purchase Returns
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'Purchases:manage_purchase_returns' %}" class="dropdown-item">
                            Manage Purchase Returns
                        </a>
                        <a href="{% url 'Purchases:add_purchase_return' %}" class="dropdown-item">
                            Add Purchase Returns
                        </a>
                    </div>
                </div>

                <!-- Inventory Out Vouchers -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle 
                        {% if url_name in pages.inventoryoutvoucher %} active {%endif%}" 
                        href="#inventory-out-vouchers"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Inventory Out Vouchers
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'Purchases:manage_inventory_out_voucher' %}" class="dropdown-item">
                            Manage Inventory Out Vouchers
                        </a>
                        <a href="{% url 'Purchases:add_inventory_out_voucher' %}" class="dropdown-item">
                            Add Inventory Out Vouchers
                        </a>
                    </div>
                </div>

                <!-- Requisition Orders -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle 
                        {% if url_name in pages.requisitionorder %} active {%endif%}" 
                        href="#requisition-orders"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Requisition Orders
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'Purchases:manage_requisition_order' %}" class="dropdown-item">
                            Manage Requisition Orders
                        </a>
                        <a href="{% url 'Purchases:add_requisition_order' %}" class="dropdown-item">
                            Add Requisition Orders
                        </a>
                    </div>
                </div>

                <!-- Requisition Approvels -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle 
                        {% if url_name in pages.requisitionapproval %} active {%endif%}" 
                        href="#requisition-approvals"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Requisition Approvals
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'Purchases:manage_requisition_approval' %}" class="dropdown-item">
                            Manage Requisition Approvals
                        </a>
                        <a href="{% url 'Purchases:add_requisition_approval' %}" class="dropdown-item">
                            Add Requisition Approvals
                        </a>
                    </div>
                </div>

                <!-- Requisition Approvel Action List -->
                
                <a class="dropdown-item 
            {% if url_name in pages.requisitionapprovalactionlist %} active {%endif%}" 
            href="{% url 'Purchases:requisition_approval_action_list' %}">
            Requisition Approvel Action List
        </a>

            </div>
        </div>
    </div>
</li>