<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#reports" data-bs-toggle="dropdown"
        data-bs-auto-close="outside" role="button" aria-expanded="false">
        <span class="nav-link-icon d-md-none d-lg-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M8 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h5.697"></path>
                <path d="M18 14v4h4"></path>
                <path d="M18 11v-4a2 2 0 0 0 -2 -2h-2"></path>
                <rect x="8" y="3" width="6" height="4" rx="2"></rect>
                <circle cx="18" cy="18" r="4"></circle>
                <path d="M8 11h4"></path>
                <path d="M8 15h3"></path>
            </svg>
        </span>
        <span class="nav-link-title">
            Reports
        </span>
    </a>
    <div class="dropdown-menu">
        <div class="dropdown-menu-columns">
            <div class="dropdown-menu-column">

                <!-- Accounts -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#accounts"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Accounts
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Reports/general_ledger.html" class="dropdown-item">
                            General Ledger
                        </a>
                        <a href="../Reports/customer_ledger.html" class="dropdown-item">
                            Customer Ledger
                        </a>
                        <a href="../Reports/estate_agent_ledger.html"
                            class="dropdown-item">
                            Estate Agent Ledger
                        </a>
                        <a href="../Reports/employee_commission_ledger.html"
                            class="dropdown-item">
                            Employee Commission Ledger
                        </a>
                        <a href="../Reports/vendor_ledger.html" class="dropdown-item">
                            Vender Ledger
                        </a>
                        <a href="../Reports/account_ledger.html" class="dropdown-item">
                            Account Ledger
                        </a>
                        <a href="../Reports/bank_ledger.html" class="dropdown-item">
                            Bank Ledger
                        </a>
                        <a href="../Reports/employee_ledger.html" class="dropdown-item">
                            Employee Ledger
                        </a>
                        <a href="../Reports/account_receivables.html"
                            class="dropdown-item">
                            Account Receivables
                        </a>
                        <a href="../Reports/account_payables.html"
                            class="dropdown-item">
                            Account Payables
                        </a>
                        <a href="../Reports/trial_balance.html" class="dropdown-item">
                            Trial Balance
                        </a>
                        <a href="../Reports/balance_sheet.html" class="dropdown-item">
                            Balance Sheet
                        </a>
                        <a href="../Reports/balance_sheet_summary.html"
                            class="dropdown-item">
                            Balance Sheet Summary
                        </a>
                        <a href="../Reports/profit_loss_statement.html"
                            class="dropdown-item">
                            Profit and Loss Statement
                        </a>

                    </div>
                </div>

                <!-- Inventory -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#inventory"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Inventory
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Reports/inventory_report.html"
                            class="dropdown-item">
                            Inventory Report
                        </a>
                        <a href="../Reports/inventory_in_hand.html"
                            class="dropdown-item">
                            Inventory In Hand
                        </a>
                        <a href="../Reports/inventory_ledger.html"
                            class="dropdown-item">
                            Inventory Ledger
                        </a>
                        <a href="../Reports/inventory_value_wise.html"
                            class="dropdown-item">
                            Inventory Report Value Wise
                        </a>
                        <a href="../Reports/breakage_report.html" class="dropdown-item">
                            Breakage Report
                        </a>
                        <a href="../Reports/inventory_consumption.html"
                            class="dropdown-item">
                            Inventory Consumption
                        </a>
                        <a href="../Reports/inventory_procured_value_wise.html"
                            class="dropdown-item">
                            Inventory Procured Value Wise
                        </a>
                        <a href="../Reports/inventory_consumed_value_wise.html"
                            class="dropdown-item">
                            Inventory Consumed Value Wise
                        </a>
                    </div>
                </div>

                <!-- Sales -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#sales"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Sales
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Reports/sales_property_statement.html"
                            class="dropdown-item">
                            Property Statement
                        </a>
                        <a href="../Reports/customer_properties_summary.html"
                            class="dropdown-item">
                            Customer Properties Summary
                        </a>
                        <a href="../Reports/property_wise_outstandings.html"
                            class="dropdown-item">
                            Property Wise Outstandings
                        </a>
                        <a href="../Reports/due_installments.html"
                            class="dropdown-item">
                            Due Installments
                        </a>
                        <a href="../Reports/property_wise_due.html"
                            class="dropdown-item">
                            Property Wise Due
                        </a>
                        <a href="../Reports/outstanding_installments.html"
                            class="dropdown-item">
                            Outstanding Installments
                        </a>
                        <a href="../Reports/late_installments.html"
                            class="dropdown-item">
                            Late Installments Report
                        </a>
                        <a href="../Reports/sales_with_full_payment.html"
                            class="dropdown-item">
                            Sales With Full Payments
                        </a>
                        <a href="../Reports/outstanding_additional_charges.html"
                            class="dropdown-item">
                            Outstanding Additionals
                        </a>
                        <a href="../Reports/payment_collection.html"
                            class="dropdown-item">
                            Payment Collection
                        </a>

                    </div>
                </div>

                <!-- Purchases -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#purchases"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Purchases
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Reports/product_wise_purchase.html"
                            class="dropdown-item">
                            Product Wise Purchase
                        </a>
                        <a href="../Reports/pending_requisition_orders.html"
                            class="dropdown-item">
                            Pending Requisition Orders
                        </a>
                        <a href="../Reports/previous_requisition_actions.html"
                            class="dropdown-item">
                            Previous Requisition Actions
                        </a>
                        <a href="../Reports/requisition_order_status.html"
                            class="dropdown-item">
                            Requisition Order Status
                        </a>
                        <a href="../Reports/vendor_wise_purchase.html"
                            class="dropdown-item">
                            Vendor Wise Purchase
                        </a>
                        <a href="../Reports/pending_stock_for_purch_order.html"
                            class="dropdown-item">
                            Pending Stock For PO
                        </a>
                        <a href="../Reports/batch_analysis_report.html"
                            class="dropdown-item">
                            Batch Analysis Report
                        </a>

                    </div>
                </div>

                <!-- Construction -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#construction"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Construction
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Reports/delayed_construction_stages.html"
                            class="dropdown-item">
                            Delayed Construction Stages
                        </a>
                        <a href="../Reports/construction_ledger.html"
                            class="dropdown-item">
                            Construction Ledger
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</li>