<li class="nav-item dropdown {% if url_name in pages.all_reports_pages %} active {%endif%}">
    <a class="nav-link dropdown-toggle" href="#reports" data-bs-toggle="dropdown"
        data-bs-auto-close="outside" role="button" aria-expanded="false">
        <span class="nav-link-icon d-md-none d-lg-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M8 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h5.697"></path>
                <path d="M18 14v4h4"></path>
                <path d="M18 11v-4a2 2 0 0 0 -2 -2h-2"></path>
                <rect x="8" y="3" width="6" height="4" rx="2"></rect>
                <circle cx="18" cy="18" r="4"></circle>
                <path d="M8 11h4"></path>
                <path d="M8 15h3"></path>
            </svg>
        </span>
        <span class="nav-link-title">
            Reports
        </span>
    </a>
    <div class="dropdown-menu">
        <div class="dropdown-menu-columns">
            <div class="dropdown-menu-column">

                <!-- Accounts -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle
                        {% if url_name in pages.accounts %} active {%endif%}" 
                        href="#accounts"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Accounts
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'Reports:general_ledger' %}" class="dropdown-item">
                            General Ledger
                        </a>
                        <a href="{% url 'Reports:customer_ledger' %}" class="dropdown-item">
                            Customer Ledger
                        </a>
                        <a href="{% url 'Reports:estate_agent_ledger' %}"
                            class="dropdown-item">
                            Estate Agent Ledger
                        </a>
                        <a href="{% url 'Reports:employee_commission_ledger' %}"
                            class="dropdown-item">
                            Employee Commission Ledger
                        </a>
                        <a href="{% url 'Reports:vendor_ledger' %}" class="dropdown-item">
                            Vender Ledger
                        </a>
                        <a href="{% url 'Reports:account_ledger' %}" class="dropdown-item">
                            Account Ledger
                        </a>
                        <a href="{% url 'Reports:bank_ledger' %}" class="dropdown-item">
                            Bank Ledger
                        </a>
                        <a href="{% url 'Reports:employee_ledger' %}" class="dropdown-item">
                            Employee Ledger
                        </a>
                        <a href="{% url 'Reports:account_receivables' %}"
                            class="dropdown-item">
                            Account Receivables
                        </a>
                        <a href="{% url 'Reports:account_payables' %}"
                            class="dropdown-item">
                            Account Payables
                        </a>
                        <a href="{% url 'Reports:trial_balance' %}" class="dropdown-item">
                            Trial Balance
                        </a>
                        <a href="{% url 'Reports:balance_sheet' %}" class="dropdown-item">
                            Balance Sheet
                        </a>
                        <a href="{% url 'Reports:balance_sheet_summary' %}"
                            class="dropdown-item">
                            Balance Sheet Summary
                        </a>
                        <a href="{% url 'Reports:profit_loss_statement' %}"
                            class="dropdown-item">
                            Profit and Loss Statement
                        </a>

                    </div>
                </div>

                <!-- Inventory -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle
                        {% if url_name in pages.inventory %} active {%endif%}" 
                        href="#inventory"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Inventory
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'Reports:inventory_report' %}"
                            class="dropdown-item">
                            Inventory Report
                        </a>
                        <a href="{% url 'Reports:inventory_in_hand' %}"
                            class="dropdown-item">
                            Inventory In Hand
                        </a>
                        <a href="{% url 'Reports:inventory_ledger' %}"
                            class="dropdown-item">
                            Inventory Ledger
                        </a>
                        <a href="{% url 'Reports:inventory_value_wise' %}"
                            class="dropdown-item">
                            Inventory Report Value Wise
                        </a>
                        <a href="{% url 'Reports:breakage_report' %}" class="dropdown-item">
                            Breakage Report
                        </a>
                        <a href="{% url 'Reports:inventory_consumption' %}"
                            class="dropdown-item">
                            Inventory Consumption
                        </a>
                        <a href="{% url 'Reports:inventory_procured_value_wise' %}"
                            class="dropdown-item">
                            Inventory Procured Value Wise
                        </a>
                        <a href="{% url 'Reports:inventory_consumed_value_wise' %}"
                            class="dropdown-item">
                            Inventory Consumed Value Wise
                        </a>
                    </div>
                </div>

                <!-- Sales -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle
                        {% if url_name in pages.sales %} active {%endif%}" 
                        href="#sales"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Sales
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'Reports:sales_property_statement' %}"
                            class="dropdown-item">
                            Property Statement
                        </a>
                        <a href="{% url 'Reports:customer_properties_summary' %}"
                            class="dropdown-item">
                            Customer Properties Summary
                        </a>
                        <a href="{% url 'Reports:property_wise_outstandings' %}"
                            class="dropdown-item">
                            Property Wise Outstandings
                        </a>
                        <a href="{% url 'Reports:due_installments' %}"
                            class="dropdown-item">
                            Due Installments
                        </a>
                        <a href="{% url 'Reports:property_wise_due' %}"
                            class="dropdown-item">
                            Property Wise Due
                        </a>
                        <a href="{% url 'Reports:outstanding_installments' %}"
                            class="dropdown-item">
                            Outstanding Installments
                        </a>
                        <a href="{% url 'Reports:late_installments' %}"
                            class="dropdown-item">
                            Late Installments Report
                        </a>
                        <a href="{% url 'Reports:sales_with_full_payment' %}"
                            class="dropdown-item">
                            Sales With Full Payments
                        </a>
                        <a href="{% url 'Reports:outstanding_additional_charges' %}"
                            class="dropdown-item">
                            Outstanding Additionals
                        </a>
                        <a href="{% url 'Reports:payment_collection' %}"
                            class="dropdown-item">
                            Payment Collection
                        </a>

                    </div>
                </div>

                <!-- Purchases -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle
                        {% if url_name in pages.purchases %} active {%endif%}" 
                        href="#purchases"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Purchases
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'Reports:product_wise_purchase' %}"
                            class="dropdown-item">
                            Product Wise Purchase
                        </a>
                        <a href="{% url 'Reports:pending_requisition_orders' %}"
                            class="dropdown-item">
                            Pending Requisition Orders
                        </a>
                        <a href="{% url 'Reports:previous_requisition_actions' %}"
                            class="dropdown-item">
                            Previous Requisition Actions
                        </a>
                        <a href="{% url 'Reports:requisition_order_status' %}"
                            class="dropdown-item">
                            Requisition Order Status
                        </a>
                        <a href="{% url 'Reports:vendor_wise_purchase' %}"
                            class="dropdown-item">
                            Vendor Wise Purchase
                        </a>
                        <a href="{% url 'Reports:pending_stock_for_purch_order' %}"
                            class="dropdown-item">
                            Pending Stock For PO
                        </a>
                        <a href="{% url 'Reports:batch_analysis_report' %}"
                            class="dropdown-item">
                            Batch Analysis Report
                        </a>

                    </div>
                </div>

                <!-- Construction -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle
                        {% if url_name in pages.construction %} active {%endif%}" 
                        href="#construction"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Construction
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'Reports:delayed_construction_stages' %}"
                            class="dropdown-item">
                            Delayed Construction Stages
                        </a>
                        <a href="{% url 'Reports:construction_ledger' %}"
                            class="dropdown-item">
                            Construction Ledger
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</li>