<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#sales" data-bs-toggle="dropdown"
        data-bs-auto-close="outside" role="button" aria-expanded="false">
        <span class="nav-link-icon d-md-none d-lg-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                    d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2">
                </path>
                <rect x="9" y="3" width="6" height="4" rx="2"></rect>
                <path d="M9 17v-5"></path>
                <path d="M12 17v-1"></path>
                <path d="M15 17v-3"></path>
            </svg>
        </span>
        <span class="nav-link-title">
            Sales
        </span>
    </a>
    <div class="dropdown-menu">
        <div class="dropdown-menu-columns">
            <div class="dropdown-menu-column">

                <!-- Properties -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#properties"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Properties
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Sales/manage_properties.html" class="dropdown-item">
                            Manage Properties
                        </a>
                        <a href="../Sales/generate_properties.html"
                            class="dropdown-item">
                            Generate Properties
                        </a>
                    </div>
                </div>

                <!-- Property Sales -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#property-sales"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Property Sales
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Sales/manage_property_sales.html"
                            class="dropdown-item">
                            Manage Property Sales
                        </a>
                        <a href="../Sales/add_property_sale.html" class="dropdown-item">
                            Add Property Sales
                        </a>
                    </div>
                </div>

                <!-- Agent Commissions -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#agent-commissions"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Agent Commissions
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Sales/manage_agent_commission.html"
                            class="dropdown-item">
                            Manage Agent Commissions
                        </a>
                        <a href="../Sales/add_agent_commission.html"
                            class="dropdown-item">
                            Add Agent Commissions
                        </a>
                    </div>
                </div>

                <!-- Installment Plans -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#installment-plans"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Installment Plans
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Sales/manage_installment_plans.html"
                            class="dropdown-item">
                            Manage Installment Plans
                        </a>
                        <a href="../Sales/add_installment_plan.html"
                            class="dropdown-item">
                            Add Installment Plans
                        </a>
                    </div>
                </div>

                <!-- Installment Plans (Type B) -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle"
                        href="#installment-plan-type-B" data-bs-toggle="dropdown"
                        data-bs-auto-close="outside" role="button"
                        aria-expanded="false">
                        Installment Plans (Type B)
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Sales/manage_installment_plans_B.html"
                            class="dropdown-item">
                            Manage Installment Plans (Type B)
                        </a>
                        <a href="../Sales/add_installment_plan_B.html"
                            class="dropdown-item">
                            Add Installment Plans (Type B)
                        </a>
                    </div>
                </div>

                <!-- Buy Backs -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#buy-backs"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Buy Backs
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Sales/manage_property_buy_back.html"
                            class="dropdown-item">
                            Manage Buy Backs
                        </a>
                        <a href="../Sales/add_property_buy_back.html"
                            class="dropdown-item">
                            Add Buy Backs
                        </a>
                    </div>
                </div>

                <!-- Property Transfers -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#property-transfers"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Property Transfers
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Sales/manage_property_transfer.html"
                            class="dropdown-item">
                            Manage Property Transfers
                        </a>
                        <a href="../Sales/add_property_transfer.html"
                            class="dropdown-item">
                            Add Property Transfers
                        </a>
                    </div>
                </div>

                <!-- Property Mergers -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#property-mergers"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Property Mergers
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Sales/manage_property_mergers.html"
                            class="dropdown-item">
                            Manage Property Mergers
                        </a>
                        <a href="../Sales/add_property_merger.html"
                            class="dropdown-item">
                            Add Property Mergers
                        </a>
                    </div>
                </div>

                <!-- Property Cancellations -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle"
                        href="#property-cancellations" data-bs-toggle="dropdown"
                        data-bs-auto-close="outside" role="button"
                        aria-expanded="false">
                        Property Cancellations
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Sales/manage_property_cancellations.html"
                            class="dropdown-item">
                            Manage Property Cancellations
                        </a>
                        <a href="../Sales/add_property_cancellation.html"
                            class="dropdown-item">
                            Add Property Cancellations
                        </a>
                    </div>
                </div>

                <!-- Additional Charges -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#additional-charges"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Additional Charges
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Sales/manage_additional_charges.html"
                            class="dropdown-item">
                            Manage Additional Charges
                        </a>
                        <a href="../Sales/add_additional_charges.html"
                            class="dropdown-item">
                            Add Additional Charges
                        </a>
                    </div>
                </div>

                <!-- Property Subcharges -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#property-surcharges"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Property Surcharges
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Sales/manage_property_surcharge.html"
                            class="dropdown-item">
                            Manage Property Surcharges
                        </a>
                        <a href="../Sales/add_property_surcharge.html"
                            class="dropdown-item">
                            Add Property Surcharges
                        </a>
                    </div>
                </div>

                <!-- Surcharge Waivers -->
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#surcharge-waivers"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        role="button" aria-expanded="false">
                        Surcharge Waivers
                    </a>
                    <div class="dropdown-menu">
                        <a href="../Sales/manage_surcharge_waiver.html"
                            class="dropdown-item">
                            Manage Surcharge Waivers
                        </a>
                        <a href="../Sales/add_surcharge_waiver.html"
                            class="dropdown-item">
                            Add Surcharge Waivers
                        </a>
                    </div>
                </div>

                <!-- Upgrade Property Prices -->
                <a class="dropdown-item" href="../Sales/upgrade_property_prices.html">
                    Upgrade Property Prices
                </a>

                <!-- Master Delete -->
                <a class="dropdown-item"
                    href="../Sales/master_delete_property_sales.html">
                    Master Delete
                </a>
            </div>
        </div>
    </div>
</li>