{%extends "base.html"%}
{%block content%}
<!-- Main Page -->
<div class="page-wrapper">
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Upgrade Property Prices
                    </h2>
                </div>

            </div>
        </div>
    </div>

    <!-- Page Body -->
    <div class="page-body">
        <div class="container-2xl mx-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Upgrade Property Prices</h3>
                    </div>
                    <div class="card-body bg-muted-lt">

                        <h2>Basic Information</h2>
                        <div class="row row-cols-xl-3 flex-row">

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">New Price Per Sq
                                    Ft.</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>

                        </div>



                        <h2 class="mt-2">Product Details</h2>
                        <!-- list -->
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-vcenter table-mobile-md card-table">
                                        <thead>
                                            <tr class="">
                                                <th><input class="form-check-input" type="checkbox"
                                                        aria-label=""></th>
                                                <th><button class="table-sort"
                                                        data-sort="sort-name">Unit#</button></th>
                                                <th><button class="table-sort"
                                                        data-sort="sort-name">Category</button></th>
                                                <th><button class="table-sort" data-sort="sort-name">Property
                                                        Type</button></th>
                                                <th><button class="table-sort"
                                                        data-sort="sort-name">Floor</button></th>
                                                <th><button class="table-sort"
                                                        data-sort="sort-name">Bedrooms</button></th>
                                                <th><button class="table-sort"
                                                        data-sort="sort-name">Dimensions</button></th>
                                                <th><button class="table-sort" data-sort="sort-name">Area (sq
                                                        ft)</button></th>
                                                <th><button class="table-sort" data-sort="sort-name">Unit
                                                        Price</button></th>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody class="fs-3">
                                            <tr>
                                                <td>
                                                    <input class="form-check-input " type="checkbox">
                                                </td>
                                                <td>PVNO. 001</td>
                                                <td>ada</td>
                                                <td>ada</td>
                                                <td>ada</td>
                                                <td>ada</td>
                                                <td>ada</td>
                                                <td>ada</td>
                                                <td>ada</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="card-footer d-flex align-items-center">
                                <p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of
                                    <span>16</span>
                                    entries</p>
                                <ul class="pagination m-0 ms-auto">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                height="24" viewBox="0 0 24 24" stroke-width="2"
                                                stroke="currentColor" fill="none" stroke-linecap="round"
                                                stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <polyline points="15 6 9 12 15 18"></polyline>
                                            </svg>
                                            prev
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">
                                            next
                                            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                height="24" viewBox="0 0 24 24" stroke-width="2"
                                                stroke="currentColor" fill="none" stroke-linecap="round"
                                                stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <polyline points="9 6 15 12 9 18"></polyline>
                                            </svg>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">
                        <div class="d-flex">
                            <button class="btn btn-primary ms-auto w-6">Upgrade Property Prices</button>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>
{%endblock%}