{% extends 'base.html' %}
{% block content %}
<!-- Main Page -->
<div class="page-wrapper">
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Requisition Approvel Action List
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Body -->
    <div class="page-body">
        <div class="container-2xl mx-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Requisition Approvel Action List</h3>
                    </div>
                    <div class="card-body bg-muted-lt">

                        <!-- -->
                        <div class="card-body">
                            <div class="card">
                                <div class="table-responsive">
                                    <table class=" table table-vcenter table-mobile-md card-table">
                                        <thead>
                                            <tr>
                                                <th><input class="form-check-input " type="checkbox"></th>
                                                
                                                <th>Product Name</th>
                                                <th>RQ Approvel</th>
                                                <th>RQ Order</th>
                                                <th>Release Inventory Qty</th>
                                                <th>PO Qty</th>
                                                <th>Action Taken</th>
                                                <th>Details</th>
                                            </tr>
                                        </thead>

                                        <tbody class="fs-3">
                                            <tr>
                                                <th><input class="form-check-input " type="checkbox"></th>
                                                <td>10001020</td>
                                                <td>SLR-001</td>
                                                <td>8093933033939</td>
                                                <td>3033</td>
                                                <td>3033</td>
                                                <td>
                                                    <div class="form-group w-7 mb-2 row">
                                                        <div class="col">
                                                            <select class="form-select">
                                                                <option>select action</option>
                                                                <option value="">Full Action Taken</option>
                                                                <option value="">Partial Action Taken</option>
                                                                <option value="">Other</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><input class="w-full form-control" type="text"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Footer post and submit button -->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-xl-6">
                            <button class="btn btn-cyan ms-auto w-8">POST</button>
                        </div>
                        <div class="col-xl-6">
                            <button class="btn btn-primary ms-auto w-8">Submit</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}