{%extends 'base.html'%}
{%block content%}
<!-- Main Page -->
<div class="page-wrapper">
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Add Receipt Vouchers
                    </h2>
                </div>

            </div>
        </div>
    </div>

    <!-- Page Body -->
    <div class="page-body">
        <div class="container-2xl mx-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">New Receipt Voucher</h3>
                    </div>
                    <div class="card-body bg-muted-lt">

                        <h2>Basic Information</h2>
                        <div class="row row-cols-xl-3 flex-row">

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Voucher Date</label>
                                <div class="col">
                                    <input type="date" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Receipt Type</label>
                                <div class="col">
                                    <select class="form-select">
                                        <option>Property Installment</option>
                                        <option>Additional Charges</option>
                                        <option>Surcharge Payment</option>
                                        <option>Transfer Charges</option>
                                    </select>
                                </div>
                            </div>
                           
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Property Unit</label>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <button data-bs-toggle="dropdown" type="button"
                                            class="btn dropdown-toggle dropdown-toggle-split"></button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">
                                                List of Property Units (Yahan ayngy)
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div></div>
                            <!-- add to list button -->
                            <div class="row align-items-center g-2">
                                <div class="d-flex">
                                    <button class="btn btn-info w-7 ">Display Property Statement</button>
                                </div>
                            </div>

                            <!-- <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Paid To</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Class To</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div> -->

                            
                        </div>

                        <!-- list table of property unit details -->
                        <div class="card-body">
                            <h2>Property Installment</h2>
                            <div class="card">
                                <div class="table-responsive">
                                    <table class=" table table-vcenter table-mobile-md card-table">
                                        <thead>
                                            <tr>
                                                <th>Account Head</th>
                                                <th>Due Date</th>
                                                <th>Due Amount</th>
                                                <th>Received Amount</th>
                                                <th>Surcharge Amount</th>
                                                <th>Surcharge Received / Waived Amount</th>
                                                <th>Balance</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>

                                        <tbody class="fs-3">
                                            <tr>
                                                <td>10001020</td>
                                                <td>SLR-001</td>
                                                <td>Accounts</td>
                                                <td>8093933033939</td>
                                                <td>3033</td>
                                                <td>sami</td>
                                                <td>00000</td>
                                                <td>10000</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>Totals</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <h2>Property Unit Details</h2>
                        <!-- list table of property unit details -->
                        <div class="card-body">
                            <div class="card">
                                <div class="table-responsive">
                                    <table class=" table table-vcenter table-mobile-md card-table">
                                        <thead>
                                            <tr>
                                                <th>Unit#</th>
                                                <th>PS#</th>
                                                <th>Current Owner</th>
                                                <th>CNIC</th>
                                                <th>Sale Price</th>
                                                <th>Discount</th>
                                                <th>Net Sale Price</th>
                                                <th>Additional Charges</th>
                                                <th>Ins. Rec.</th>
                                                <th>Add. Chgs. Rec.</th>
                                                <th>Surcharge</th>
                                                <th>Surcharge <br>Waived / Received</th>
                                                <th>Balance</th>
                                            </tr>
                                        </thead>

                                        <tbody class="fs-3">
                                            <tr>
                                                <td>10001020</td>
                                                <td>SLR-001</td>
                                                <td>Accounts</td>
                                                <td>8093933033939</td>
                                                <td>3033</td>
                                                <td>sami</td>
                                                <td>00000</td>
                                                <td>10000</td>
                                                <td>22002</td>
                                                <td>23</td>
                                                <td>23</td>
                                                <td>23</td>
                                                <td>23</td>
                                                
                                            </tr>



                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        

                        <h2>Transaction Details</h2>
                        <div class="row row-cols-xl-3 flex-row">
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Transaction Mode</label>
                                <div class="col">
                                    <select class="form-select">
                                        <option>Select Transaction Mode</option>
                                        <option>CASH IN HAND</option>
                                        <option>ASSET ADJUSTMENT</option>
                                        <option>PETTY CASH</option>
                                        <option>CHEQUE / DD</option>
                                        <option>CANCELLATION ADJUSTMENT CASH</option>
                                        <option>ONLINE</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Receipt Amount</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-4 col-form-label">Receipt Details</label>
                                <div class="col">
                                    <textarea class="form-control" data-bs-toggle="autosize"
                                        placeholder=""></textarea>
                                </div>
                            </div>

                        </div>
                        
                        <!-- Asset adjustment hide / show -->
                        <div class="row row-cols-xl-3 flex-row">
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Asset</label>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <button data-bs-toggle="dropdown" type="button"
                                            class="btn dropdown-toggle dropdown-toggle-split"></button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">
                                                List of Asset
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Asset Adjustment Details</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                        </div>

                        <!-- Cheque show / hide  -->
                        <div class="row row-cols-xl-3 flex-row">

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Bank Name</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Instrument</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                           
                        </div>

                        <!-- Online show / hide  -->
                        <div class="row row-cols-xl-3 flex-row">
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label">Bank Account</label>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <button data-bs-toggle="dropdown" type="button"
                                            class="btn dropdown-toggle dropdown-toggle-split"></button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">
                                                List of Bank acc.
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Instrument</label>
                                <div class="col">
                                    <input type="" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            
                        </div>

                    <!-- Footer post and submit button -->
                    <div class="card-footer">
                        
                        <div class="row">
                            <div class="col-xl-6">
                                <button class="btn btn-cyan ms-auto w-8">POST</button>
                            </div>
                            <div class="col-xl-6">
                                <button class="btn btn-primary ms-auto w-8">Submit</button>
                            </div>
                           
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>

</div>
{%endblock%}