{% extends 'base.html' %}
% block content %<!-- Main Page -->
<div class="page-wrapper">
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Add Purchase Return
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Body -->
    <div class="page-body">
        <div class="container-2xl mx-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">New Purchase Return</h3>
                    </div>
                    <div class="card-body bg-muted-lt">

                        <h2>Basic Information</h2>
                        <div class="row row-cols-xl-3 flex-row">

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Voucher Date</label>
                                <div class="col">
                                    <input type="date" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Vendor</label>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <button data-bs-toggle="dropdown" type="button"
                                            class="btn dropdown-toggle dropdown-toggle-split"></button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">
                                                List of Vender
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                           
                        </div>
                        <h2 class="mt-2">Product Details</h2>
                        <div class="row row-cols-xl-3 flex-row">

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Stock Voucher</label>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <button data-bs-toggle="dropdown" type="button"
                                            class="btn dropdown-toggle dropdown-toggle-split"></button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">
                                                List of stock Voucher
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- list table of property unit details -->
                    <div class="card-body">
                        <div class="card">
                            <div class="table-responsive">
                                <table class=" table table-vcenter table-mobile-md card-table">
                                    <thead>
                                        <tr>
                                            <th><input class="form-check-input " type="checkbox"></th>
                                        
                                            <th>Product Name</th>
                                            <th>Batch#</th>
                                            <th>Expiry Date</th>
                                            <th>Purchase <br>Rate</th>
                                            <th>Purchase Qty</th>
                                            <th>Qty In Stock</th>
                                            <th>Return Qty</th>
                                            <th>Return Price</th>
                                            <th>Tax Name</th>
                                            <th>Tax Rate</th>
                                            <th>Tax Amount</th>
                                            <th>Return Price (Inc Tax)</th>
                                        </tr>
                                    </thead>

                                    <tbody class="fs-3">
                                        <tr>
                                            <th><input class="form-check-input " type="checkbox"></th>
                                            <td>10001020</td>
                                            <td>SLR-001</td>
                                            <td>Accounts</td>
                                            <td>Accounts</td>
                                            <td>Accounts</td>
                                            <td>Accounts</td>
                                            <td>Accounts</td>
                                            <td>Accounts</td>
                                            <td>Accounts</td>
                                            <td>8093933033939</td>
                                            <td>3033</td>
                                            <td>3033</td>

                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row row-cols-xl-3 flex-row">
                        <div class="form-group mb-2 row">
                            <label class="form-label col-5 col-form-label required">Return Price</label>
                            <div class="col">
                                <input type="" class="form-control" aria-describedby="" placeholder="">
                            </div>
                        </div>

                        <div class="form-group mb-2 row">
                            <label class="form-label col-5 col-form-label required">Total Tax</label>
                            <div class="col">
                                <input type="" class="form-control" aria-describedby="" placeholder="">
                            </div>
                        </div>

                        <div class="form-group mb-2 row">
                            <label class="form-label col-5 col-form-label required">Net Total</label>
                            <div class="col">
                                <input type="" class="form-control" aria-describedby="" placeholder="">
                            </div>
                        </div>

                        <div class="form-group mb-2 row">
                            <label class="form-label col-4 col-form-label required">Remarks</label>
                            <div class="col">
                                <textarea class="form-control" data-bs-toggle="autosize"
                                    placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                       
                    </div>

                    

                </div>

                <!-- Footer post and submit button -->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-xl-6">
                            <button class="btn btn-cyan ms-auto w-8">POST</button>
                        </div>
                        <div class="col-xl-6">
                            <button class="btn btn-primary ms-auto w-8">Submit</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
{%endblock%}