{%extends 'base.html'%}
{%block content%}
<!-- Main Page -->
<div class="page-wrapper">
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Generate Payroll
                    </h2>
                </div>

            </div>
        </div>
    </div>

    <!-- Page Body -->
    <div class="page-body">
        <div class="container-2xl mx-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Generate Payroll</h3>
                    </div>
                    <div class="card-body bg-muted-lt">

                        <h2>Basic Information</h2>
                        <div class="row row-cols-xl-3 flex-row">

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Month and Year</label>
                                <div class="col">
                                    <input type="date" class="form-control" aria-describedby="" placeholder="">
                                </div>
                            </div>

                            <div class="form-group mb-2 row">
                                <label class="form-label col-5 col-form-label required">Salary Slip
                                    Status</label>
                                <div class="col">
                                    <select class="form-select">
                                        <option>select Salary Slip type</option>
                                        <option value="">Saved</option>
                                        <option value="">Posted</option>
                                    </select>
                                </div>
                            </div>

                        </div>


                        <!-- -->
                        <div class="row align-items-center g-2">
                            <div class="d-flex">
                                <button class="btn btn-info w-6 ms-auto">Generate Payroll</button>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="card">
                                    <div class="table-responsive">
                                        <table class="table table-vcenter table-mobile-md card-table">
                                            <thead>
                                                <tr class="">
                                                    <th><input class="form-check-input" type="checkbox"
                                                            aria-label=""></th>
                                                    <th><button class="table-sort"
                                                            data-sort="sort-name">Slip#</button></th>
                                                    <th><button class="table-sort"
                                                            data-sort="sort-name">Employee</button></th>
                                                    <th><button class="table-sort"
                                                            data-sort="sort-name">Month</button></th>
                                                    <th><button class="table-sort"
                                                            data-sort="sort-name">Year</button></th>
                                                    <th><button class="table-sort"
                                                            data-sort="sort-name">Department</button></th>
                                                    <th><button class="table-sort" data-sort="sort-name">Gross
                                                            Pay</button></th>
                                                    <th><button class="table-sort"
                                                            data-sort="sort-name">Earnings</button></th>
                                                    <th><button class="table-sort"
                                                            data-sort="sort-name">Deductions</button></th>
                                                    <th><button class="table-sort" data-sort="sort-name">Net
                                                            Pay</button></th>
                                                    <th><button class="table-sort"
                                                            data-sort="sort-name">Status</button>
                                                    <th><button class="table-sort" data-sort="sort-name">Entry
                                                            Date</button>
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody class="fs-3">
                                                <tr>
                                                    <td>
                                                        <input class="form-check-input " type="checkbox">
                                                    </td>
                                                    <td>PVNO. 001</td>
                                                    <td>ada</td>
                                                    <td>22/22/2222</td>
                                                    <td>1221s</td>
                                                    <td>1,000</td>
                                                    <td>1,000</td>
                                                    <td>1,000</td>
                                                    <td>1,000</td>
                                                    <td>1,000</td>
                                                    <td><span class="badge bg-blue me-1"></span>Posted</td>
                                                    <!-- <td><span class="badge bg-danger me-1"></span>Inactive</td> -->
                                                    <td>32320</td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- pagination -->
                            <div class="card-footer d-flex align-items-center">
                                <p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of
                                    <span>16</span>
                                    entries
                                </p>
                                <ul class="pagination m-0 ms-auto">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                height="24" viewBox="0 0 24 24" stroke-width="2"
                                                stroke="currentColor" fill="none" stroke-linecap="round"
                                                stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <polyline points="15 6 9 12 15 18"></polyline>
                                            </svg>
                                            prev
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">
                                            next
                                            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                height="24" viewBox="0 0 24 24" stroke-width="2"
                                                stroke="currentColor" fill="none" stroke-linecap="round"
                                                stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <polyline points="9 6 15 12 9 18"></polyline>
                                            </svg>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <!-- Total k liye -->
                        <div class="card-footer mt-2">
                            <div class="row row-cols-xl-2 gap-2 flex-row">
                                <div class="form-group row">
                                    <label class="form-label col-4 col-form-label">Total Gross Pay:</label>
                                    <div class="col">
                                        <input type="" class="form-control" aria-describedby="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="form-label col-4 col-form-label">Total Earnings:</label>
                                    <div class="col">
                                        <input type="" class="form-control" aria-describedby="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="form-label col-4 col-form-label">Total Deductions:</label>
                                    <div class="col">
                                        <input type="" class="form-control" aria-describedby="" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="form-label col-4 col-form-label">Total Net Pay:</label>
                                    <div class="col">
                                        <input type="" class="form-control" aria-describedby="" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>

        </div>
    </div>


</div>
{%endblock%}